@import "normalscreen.css";
/* Importar el archivo de estilos para pantalla normal */

/* Normalizar los estilos de los elementos */

* {
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}

/* Estilos para pantallas de celular */

@media only screen and (max-width: 600px) {
    header {
        background-color: #FFFFFF;
        position: relative;
    }
    header img {
        margin: 5% 0% 5% 5%;
    }
    header i {
        position: absolute;
        right: 5%;
        top: 20px;
        font-size: 20px;
    }
    header i:hover {
        display: none;
    }
    header div:hover nav {
        display: block;
    }
    header nav {
        display: none;
        width: 100%;
        top: 100%;
        right: 50%;
        padding: 10px 50px 10px 10px;
        background-color: #0000EC;
    }
    header nav ul {
        list-style-type: none;
    }
    header nav a {
        text-decoration: none;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 28px;
    }
    header i:hover header {
        background-color: #0000A3;
    }
    div h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        line-height: 42px;
        letter-spacing: 0;
        color: #060A24;
        margin-left: 5%;
        font-size: 36px;
    }
    .inicio p {
        font-family: 'IBM Plex Mono', sans-serif;
        margin: 0% 5% 10% 5%;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }
    div h1 span {
        text-decoration: line-through;
    }
    .inicio button {
        width: 90%;
        margin: 0% 5% 0.4% 5%;
        font-size: 16px;
        background-color: #00F3BB;
        color: #060A24;
        font-family: 'IBM Plex Mono', sans-serif;
        padding: 4% 0%;
        line-height: 22px;
        border-style: none;
        letter-spacing: 0;
    }
    .inicio button:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: #FFFFFF;
    }
    .episodios p {
        margin-left: 5%;
        color: #FFFFFF;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        letter-spacing: 0;
        line-height: 42px;
        position: absolute;
        top: 50px;
        transform: skewY(6deg);
    }
    .episodios {
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        position: relative;
        margin-top: 15%;
        padding-top: 30%;
        padding-bottom: 30%;
        transform: skewY(-6deg);
    }
    .episodios iframe {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2%;
        width: 90%;
        transform: skewY(6deg);
    }
    .nosotros {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 15vw;
    }
    .nosotros img {
        width: 100%;
    }
    .nosotros div p:nth-child(1) {
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 42px;
        padding: 0% 5% 5% 5%;
    }
    .nosotros div p:nth-child(2) {
        font-family: 'IBM Plex Mono';
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        padding: 0% 5%;
    }
    .invitados p {
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 42px;
        padding: 10% 5%;
    }
    .invitados div {
        display: flex;
        flex-direction: column;
    }
    .invitados div img {
        width: 100%;
    }
    .topicos {
        display: flex;
        flex-direction: column;
    }
    .topicos p {
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 42px;
        padding: 10% 5%;
    }
    .topicos div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .topicos h2 {
        margin: 5% 5% 10% 5%;
        text-align: center;
        font-family: 'IBM Plex Sans';
        font-size: 24px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
    }
    .entrevistas {
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        transform: skewY(-6deg);
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .entrevistas p {
        color: #FFFFFF;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        letter-spacing: 0;
        line-height: 42px;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20%;
        transform: skewY(6deg);
    }
    .entrevistas button {
        transform: skewY(6deg);
        width: 90%;
        margin: 10% 5% 0.4% 5%;
        font-size: 16px;
        background-color: #00F3BB;
        color: #060A24;
        font-family: 'IBM Plex Mono', sans-serif;
        padding: 4% 0%;
        line-height: 22px;
        border-style: none;
        letter-spacing: 0;
        z-index: 1;
    }
    .entrevistas button:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: #FFFFFF;
    }
    .entrevistas::after {
        background-image: inherit;
        content: "";
        width: 100%;
        height: 50%;
        transform: skewY(6deg);
        position: absolute;
        top: 70%;        
    }
    footer {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }
    footer p {
        text-align: center;
        font-family: 'IBM Plex Mono';
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }
    footer div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer div i {
        margin: 5% 5%;
    }
}