/* Import styles files for different devices */

@import "normal_screen.css";
@import "phone_screen.css";
/* Normalize styles on elements */

* {
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}